html{
  overflow-x:hidden;
  height: 100%;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    min-height: 80px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #e8eae6;
}
.navbar-nav  li a:hover {
    color:  #16c79a !important;
}

#home{
  letter-spacing: 1px;
}

#about{
  letter-spacing: 1px;
}

#contact{
  letter-spacing: 1px;
}

#compose{
    letter-spacing: 1px;
}

/* .footer-padding {
	padding-bottom: 60px;
} */

.footer {
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #1abc9c;
  position: absolute;
  bottom: 0;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
